/* General page styling */
.Blog-page {
  background-color: #d1f1f6;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Blogs container styling */
.blogs-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px; /* Match Recipes.css padding */
  margin-top: 20px;
  background-color: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Title styling */
.blogs-title {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  margin: 100px 0 30px;
  color: #070707;
}

/* Grid layout for blogs */
.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Card styling for individual blogs */
.blog-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 350px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.blog-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* Title and description styling inside the card */
.blog-title {
  font-size: 1.2em;
  margin: 10px 0;
  color: #003366;
}

/* Blog detail view styling */
.blog-detail-view {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.blog-detail-view:hover {
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.detail-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.detail-image {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Loading and error messages */
.loading,
.error {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
}

.error {
  color: red;
}

/* Glass effect for category filter buttons */
.category-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.category-filter button {
  background-color: #007bff;
  color: #fff;
  padding: 6px 10px; /* Reduced padding for smaller button size */
  font-size: 0.9em; /* Slightly smaller font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-filter button:hover {
  background-color: #0056b3;
}
