.home-container {
    position: relative;
  }
  
  .shape {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px; 
    height: 400px;
    opacity: 0.7; 
  }
  
  .shape-top-left {
    top: 22%;
    left: 0;
    background-image: url('../assets/shape-1.png'); 
  }
  
  .shape-bottom-right {
    bottom: 23%;
    right: 0;
    background-image: url('../assets/shape-2.png'); 
  }
  
  .shape-top-right-opposite {
    top: 50%;
    left: 0;
    background-image: url('../assets/shape-3.png');
  }
  

  