/* ContactUs.css */

/* General body styles for other pages */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Full height of the viewport */
}

/* Styles for Contact Us page */
.contact-us-container {
  background-image: url('../assets/Background.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating of the image */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 20px; /* Padding around the container */
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; /* Inner padding for the form */
  border-radius: 10px; /* Rounded corners for the container */
  width: 50%; /* Set to a percentage or specific pixel value for more flexibility */
  max-width: 500px; /* Maximum width */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Increased shadow for depth */
  background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Light border for glass effect */
}

.contact-us-container h2 {
  font-size: 2.5rem; /* Set the font size to make it bigger */
  color: rgb(6, 6, 6); /* Change the text color to blue */
  margin-bottom: 20px; /* Add some space below the title */
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 20px;
  font-size: 16px;
  width: 100%;
  max-width: 100%; /* Ensure full width */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s; /* Smooth transition for border color */
}

textarea {
  height: 100px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.submit-button:hover {
  background-color: #218838;
}

.contact-us-container,
.submit-button {
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  input,
  textarea {
    max-width: 100%;
  }
}
