header, nav{
  z-index: 100001 !important;
}

.page-container {
  background-color: #d1f1f6;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}